*.terraform
*.terraform.lock.hcl
*.tfstate.ba*
*.tfstate.*
*.tfstate
*.tfvars
*generated.tf
.ignore*
*IGNORE*
*.crt
*.key
.env
sync.toml
secret.yaml
secret.plain.yaml
*.temp.yaml
.vault_pass
.terragrunt-cache/
Volumes/